<div class="row">
  <div class="col-md-6">
    <% @fields.each do |f| %>
    <%= f.variant %>
    <%= link_to "Видалити поле", destroy_field_path(id: f.id) %>
    <hr>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= simple_form_for @field, url: create_field_path do |f| %>
      <%= f.input :variant %>
      <%= f.hidden_field :question_id, value: @question.id %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
