<div class="question_<%= @question.question_type %>">
  <%= @question.title %>
  <br>
  <%= @question.body  %>
  <br>
  <p>Fields</p>
  <%  @question.fields.each do |f| %>
    <span><%= f.variant %></span>

    <% if !f.question.active %>
      <span><%= f.count %></span>
    <% end %>

    <% if f.question.active and !current_user.votes.where(question_id: f.question.id).exists? %>
      <%= button_to "Проголосувати", increment_path(id: f.id), class: "btn btn-primary btn-sm inline" %>
    <% end %>

     <br>
  <% end %>
  <hr>
</div>
