<!DOCTYPE html>
<html>
<head>
  <title>Survey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'share/header' %>
  <p class="notice" style="padding: 0; margin: 0;"><%= notice %></p>
  <p class="alert" style="padding: 0; margin: 0;"><%= alert %></p>

  <%= yield %>

</body>
</html>
